body{
	color: #fff;
}
.choice-container{
	display: flex;
	margin-bottom: 0.8rem;
	width: 100%;
	background: green;
	font-size: 3rem;
	border-radius: 4px;
	min-width: 80rem;
}
.choice-container:hover{
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem 0 green;
	transform: scale(1.02);
	transform: transform 100ms;
}
.choice-prefix{
	padding: 2rem 2.5rem;
	color: white;
}
.choice-text{
	padding: 2rem;
	width: 100%;
}
.correct{
	background: linear-gradient(32deg,rgba(4, 185, 4, 0.89) 0%,rgb(41,232,111) 100%);
}
.incorrect{
	background: linear-gradient(32deg, rgba(224, 32, 6, 0.89) 0%, rgb(190, 14, 14) 100%);
}
@media screen and (max-width :760px){
	.choice-container{
		min-width: 40rem;
	}
}
#hud{
	display: flex;
	justify-content: space-between;
}
.hud-prefix{
	text-align: center;
	font-size: 2rem;
}
.hud-main-text{
	text-align: center;
	
}
#progressBar{
	width: 20rem;
	height: 3rem;
	border: 0.3rem solid green;
	margin-top: 2rem;
	border-radius: 50px;
	overflow: hidden;
}
#progressBarfull{
	height: 100%;
	background: green;
	width: 0%;
}